/* You can include your custom styling here */
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
article a {
	color:red;
}


h3 {
	font-size: 24px;
	font-family:sans-serif;
}

nav .container-fluid {
	margin:auto 10px;
	background-color:white;
}

.navbar {
	background-color:white;
	border-bottom:2px solid #e7e7e7;
}

#social-media {
	border-radius:5px;
	margin:0;
	position:absolute;
	z-index:100;
	background-color:  #2c3e50;
}

#social-media .container {
	border-radius:5px;
}

#social-media .row div {
	padding:0;
	margin: 5px 0;
}

#popular, #latest {
	margin-top:10px;
	margin-bottom:10px;
}


.social-media-boxes {
	margin:10px;
	height:70px;
	width:120px;
	display:block;
	color:white;
	line-height:70px;
	text-align:center;
}

.social-media-boxes:hover {
	background-color:white;
	color:black;
	text-decoration: none;
}

.navbar-left li:hover {
	border-bottom:2px solid red;
	color:red;
}
.navbar-default .navbar-nav > li >a:hover {
	color:red;
}

.red {
	color:red;
}

.red:hover {
	color:blue;
	text-decoration: underline;
}

.message-center {
	padding:25px;
}
.message-center a {
	color:red;
}

.wrapper {
	padding:10px 40px;
	background-color:#f8f9fa;

}

.wrapper article {
	background-color:white;
}

.articles {
	border:2px solid #e7e7e7;
	background-color:white;
	min-height:800px;
	display:inline-block;
	padding:20px 10px;
}

.sidebar {
	background-color:white;
	margin:auto;
	padding: 0;
	position:fixed;
}


.sidefeed {
	padding:1px;
	border-top:1px solid lightgray;
}

.sidefeed:last-child {
	border-bottom:1px	 solid lightgray;
}

.sidebar div {
	padding:5px 2px;
}
.sidebar p {
	margin	:0;
}
.sidebar img {
	padding:15px;
}
.channels {
	margin-top: 10px;
	text-align:left;
	background-color:red;
	color:white;
}

.channels:hover {
	background-color:red;
	color:white;
}
.channels:active {
	background-color:red;
	color:white;
	border:1px solid lightblue;
}
.channels:focus {
	background-color:red;
	color:white;
	border:1px solid lightblue;
}
.channels:checked {
	background-color:red;
	color:white;
	border:1px solid lightblue;
}
.channels span {
	float:right;
	margin:10px;
}

.dropdown-menu {
	width:100%;
}
.fixed-menu {
	position:fixed;
	width:340px;
	background-color:white;
	z-index:100;
}
.articles-feed {
	margin-top:150px;
}
.article-sidebar{
	margin-top:125px;
	position:relative;
	clear:both;
}
@media(max-width:767px){
	.wrapper {
		padding:5px 0 0 0;
	}
	.img-responsive {
		width:100%;
	}
}

@media(min-width:1200px) {
	.sidebar {
		width:325px;
	}
	.wrapper {
		margin:0 325px;
		width:1110px;
	}
	.navbar-link{
		position:absolute;
	}
	.navbar-left:hover {
		position:absolute;
		left:104px;
	}
}


